[
{exometer_core, 
    [{reporters, [
        {exometer_report_influxdb, [{protocol, http}, 
            {host, <<"localhost">>},
            {port, 8086},
            {db, <<"test_skattelmann">>},
            {tags, [{region, ru}]}]}
    ]}]
},
{influxdb_stress_test,
    [{metrics_options, [{counter, 10000},
                        {histogram, 10000},
                        {function, 10000}]
    }]
}
].
