[
{exometer_core, 
    [{reporters, [
        {exometer_report_influxdb, [{protocol, http}, 
            {host, <<"192.168.0.103">>},
            {port, 8086},
            {db, <<"find_me">>},
            {tags, [{region, de}]}]}
    ]}]
},
{influxdb_stress_test,
    [{metrics_options, [{counter, 1000},
                        {histogram, 1000},
                        {function, 1000}]
    }]
}
].
